$icon-font-path: '/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$fa-font-path: '/assets/fonts/font-awesome/';
@import '~font-awesome/scss/font-awesome';

// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900|Roboto:300,500,700,900);

/**
 * App-wide Styles
 */

 $teal: #4DB6AC;
 $red: #FF8A65;
 $copy: #444;
 $lightcopy: #757575;

 @mixin hoverShadow {
   box-shadow: 2px 1px 5px rgba(0,0,0,0.26);
 }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
* {
  color: $copy;
  transition: box-shadow 200ms ease 0s;
}

// Component styles are injected through gulp
/* inject:scss */
@import 'admin/admin';
@import 'main/main';
@import 'project/project';
@import 'teams/teams';
@import '../components/footer/footer';
@import '../components/modal/modal';
/* endinject */


.container > .row {
  margin-bottom: 40px;
}

.fn {
  float: none !important;
}

h3 {
  margin-bottom:30px;
}
